.ItemValue{border:.5px solid #881719;border-radius:2px;color:#881719;line-height:19px}
.HintText{margin-left:4px;opacity:.6}
.ChoiceOptionDiasbled{color:#c2c2c4}
.IconRightPadding{margin-right:4px}
.LabelClass{font-size:16px;font-weight:700;margin-bottom:-10px;margin-top:-2px}
div::-webkit-scrollbar{width:8px}
div::-webkit-scrollbar-thumb{margin-top:59px;background:#00000030;border-radius:2px;height:60px}
div::-webkit-scrollbar-track{margin-top:59px}
#Pivot1-Tab1.is-selected{background-color:#4527a0!important}
#Pivot1-Tab1:hover{background-color:#33158f!important}
#Pivot1-Tab1:active{background-color:#1f0b5c!important}
#Pivot1-Tab2.is-selected{background-color:#00695c!important}
#Pivot1-Tab2:hover{background-color:#00574e!important}
#Pivot1-Tab2:active{background-color:#00423b!important}
#Pivot2-Tab1.is-selected{background-color:#4527a0!important}
#Pivot2-Tab1:hover{background-color:#33158f!important}
#Pivot2-Tab1:active{background-color:#1f0b5c!important}
#Pivot2-Tab2.is-selected{background-color:#00695c!important}
#Pivot2-Tab2:hover{background-color:#00574e!important}
#Pivot2-Tab2:active{background-color:#00423b!important}
body{background-color:#f9f9fb;font-family:roboto;height:calc(100vh - 16px);margin:0;width:calc(100%)}
.ChoiceGroupLabelStyle{margin-left:28px}
@media screen and (max-width:1000px){
.ControlContainer{margin:12px 12px 0 12px;min-width:480px;padding:16px}
#Pivot1-Tab1{width:33%!important}
#Pivot1-Tab0{width:33%!important}
#Pivot1-Tab2{width:33%!important}
#Pivot2-Tab1{width:33%!important}
#Pivot2-Tab0{width:33%!important}
#Pivot2-Tab2{width:33%!important}
.TitleClass{display:none}
.ms-ChoiceFieldGroup-flexContainer{min-width:100%!important}
.TitleForSmallScreen{padding:28px 28px 4px 28px;font-size:32px;font-weight:700;color:#881719;font-family:roboto}
.CanvasContainer{width:100%;height:300px}
.LegendContainer{padding:0 28px 0 28px;width:calc(100% - 28px);height:40px}
.ControlContainer{width:calc(100% - 56px);padding:16px 16px 0 16px;min-width:calc(100% - 56px)!important}
.ms-ChoiceField{display:initial!important}
.ms-ChoiceField-wrapper{margin-top:8px!important;margin-bottom:8px!important}
body{overflow-x:hidden}
.TimelineInfoContainer{margin:12px 12px -54px 12px;padding:8px 16px 0 16px}
.LinkingCompareContainer{display:none}
}
@keyframes expander{
to{height:calc(100vh - 58px)}
}
@-moz-keyframes expander{
to{height:calc(100vh - 58px)}
}
@-webkit-keyframes expander{
to{height:calc(100vh - 58px)}
}
@-o-keyframes expander{
to{height:calc(100vh - 58px)}
}
@keyframes expander-{
from{height:calc(100vh - 58px)}
to{height:120px}
}
@-moz-keyframes expander-{
from{height:calc(100vh - 58px)}
to{height:120px}
}
@-webkit-keyframes expander-{
from{height:calc(100vh - 58px)}
to{height:120px}
}
@-o-keyframes expander-{
from{height:calc(100vh - 58px)}
to{height:120px}
}
@media screen and (min-width:1000px){
.LegendContainer{background-color:#f9f9fba0;position:absolute;left:538px;top:12px;width:360px;min-width:360px;border:1px solid #00000030;border-radius:4px;padding:16px;overflow:hidden;height:40px}
.TitleClass{font-size:36px;font-weight:700;color:#881719}
.TitleForSmallScreen{display:none}
.CanvasContainer{width:820px;height:600px;margin-left:calc(50% - 148px);margin-top:calc(49vh - 340px)}
.ControlContainer{background-color:#f9f9fba0;position:absolute;left:12px;top:12px;width:480px;border:1px solid #00000030;border-radius:4px;padding:16px;overflow:hidden;height:calc(100vh - 58px)}
.TimelineInfoContainer{background-color:#f9f9fba0;position:absolute;left:538px;bottom:12px;width:360px;border:1px solid #00000030;border-radius:4px;padding:16px;overflow:hidden;height:120px}
.LinkingCompareContainer{background-color:#f9f9fba0;position:absolute;right:12px;bottom:12px;width:calc(100% - 990px);border:1px solid #00000030;border-radius:4px;padding:16px;overflow:hidden;height:120px}
.LinkingCompareContainer_Expanded{animation:expander .5s;-moz-animation:expander .5s;-webkit-animation:expander .5s;-o-animation:expander .5s;animation-fill-mode:forwards}
.LinkingCompareContainer_Compressed{animation:expander- .5s;-moz-animation:expander- .5s;-webkit-animation:expander- .5s;-o-animation:expander- .5s;animation-fill-mode:forwards}
}
.InfoLabel{font-weight:700}
.TimeLineLabel{font-size:14px}
svg text{font-family:roboto}
.DragToExpandControlPointerEvents{position:absolute;height:40px;margin:-16px;width:100%;cursor:pointer}
.DragToExpandControl{position:absolute;margin-left:calc(50% - 52px);width:72px;height:3px;background-color:#00000018;border-radius:4px;border:1px solid #00000030;margin-top:-10px}